@charset "utf-8";
/* Inconsolata */
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
/*
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap&subset=korean');
*/

/* Roboto */
@font-face {  
    font-family: 'Roboto';  font-style: normal;  font-weight: 300;
    src: url(../fonts/Roboto-Light.woff2) format('woff2'),
    url(../fonts/Roboto-Light.woff) format('woff'),
    url(../fonts/Roboto-Light.otf) format('opentype');
}
@font-face {   
    font-family: 'Roboto';   font-style: normal;   font-weight: 400;
    src: url(../fonts/Roboto-Regular.woff2) format('woff2'),
    url(../fonts/Roboto-Regular.woff) format('woff'),
    url(../fonts/Roboto-Regular.otf) format('opentype'); 
}
@font-face {   
    font-family: 'Roboto';   font-style: normal;   font-weight: 500;
    src: url(../fonts/Roboto-Medium.woff2) format('woff2'),
    url(../fonts/Roboto-Medium.woff) format('woff'),
    url(../fonts/Roboto-Medium.otf) format('opentype'); }
@font-face {   
    font-family: 'Roboto';   font-style: normal;   font-weight: 700;
    src: url(../fonts/Roboto-Bold.woff2) format('woff2'),
    url(../fonts/Roboto-Bold.woff) format('woff'),
    url(../fonts/Roboto-Bold.otf) format('opentype'); 
}

/* NanumSquare */
@font-face { font-family: 'NanumSquare'; font-weight:300; font-style: normal; src: local('NanumSquare_seR'), local('NanumSquare seR'),
	url(../fonts/NanumSquare_seR.eot),
	url(../fonts/NanumSquare_seR.eot?#iefix) format('embedded-opentype'),
	url(../fonts/NanumSquare_seR.woff) format('woff'),
	url(../fonts/NanumSquare_seR.ttf) format('truetype');
}
@font-face { font-family: 'NanumSquare'; font-weight:700; font-style: normal; src: local('NanumSquare_seB'), local('NanumSquare seB'),
	url(../fonts/NanumSquare_seB.eot),
	url(../fonts/NanumSquare_seB.eot?#iefix) format('embedded-opentype'),
	url(../fonts/NanumSquare_seB.woff) format('woff'),
	url(../fonts/NanumSquare_seB.otf) format('opentype');
}
@font-face { font-family: 'NanumSquare'; font-weight:900; font-style: normal; src: local('NanumSquare_seEB'), local('NanumSquare seEB'),
	url(../fonts/NanumSquare_seEB.eot),
	url(../fonts/NanumSquare_seEB.eot?#iefix) format('embedded-opentype'),
	url(../fonts/NanumSquare_seEB.woff) format('woff'),
	url(../fonts/NanumSquare_seEB.otf) format('opentype');
}

@font-face {
	font-family: 'icomoon';
	src:  url(../fonts/icomoon.eot?4p0u2v);
	src:  url(../fonts/icomoon.eot?4p0u2v#iefix) format('embedded-opentype'),
	url(../fonts/icomoon.ttf?4p0u2v) format('truetype'),
	url(../fonts/icomoon.woff?4p0u2v) format('woff'),
	url(../fonts/icomoon.svg?4p0u2v#icomoon) format('svg');
	font-weight: normal;
	font-style: normal;
}